<?xml version="1.0" encoding="utf-8"?>

<configuration>

	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="configBuilders" type="System.Configuration.ConfigurationBuildersSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" restartOnExternalChanges="false" requirePermission="false" />

		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<entityFramework>
		<contexts>
			<context type="TestApp2.DAL.MainContext, TestApp2">
				<databaseInitializer type="TestApp2.DAL.DbInitializer, TestApp2" />
			</context>
		</contexts>
	</entityFramework>

	<configBuilders>
		<builders>
			<add name="Secrets" userSecretsId="baf66cd5-9c71-4b6f-8021-121959e6a3ba" type="Microsoft.Configuration.ConfigurationBuilders.UserSecretsConfigBuilder, Microsoft.Configuration.ConfigurationBuilders.UserSecrets, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		</builders>
	</configBuilders>

	<connectionStrings>
		<add name ="MainContext" connectionString ="Data Source=(LocalDb)MSSQLLocalDB;Initial Catalog=TestApp2DB.mdf;Integrated Security=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>
</configuration>

