@model TestApp2.Models.Task


@{
    ViewData["Title"] = "ChangeTaskStatus";
}

<h1>Change Task Status</h1>

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeTaskStatus">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TaskID" />

            <div class="form-group">
                <label asp-for="TaskStatus" class="control-label"></label>
                <input asp-for="TaskStatus" class="form-control" />
                <span asp-validation-for="TaskStatus" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
               